body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(180, 63%, 51%);
    font-size: 48px;
}
a:Link{ 
    text-decoration: none;
    color:blanchedalmond ;

}

a:visited{
    text-decoration: none;
    color:blanchedalmond ;

}

a:hover{
    font-size:larger;
    color:rgb(21, 74, 46);
    text-decoration:underline;

}

.headingmerah{
    color:red;

}

.parratakanan{
    text-align: right;

}

.partengah{
    text-align: center;

}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 250px;
  } 